@media  (max-width:767px) {
	.container {
		width: 400px;
	}
	.main {
		height: 2480px;
	}
	.main__container {
		position: unset;
		display: flex;
		flex-flow: column wrap;
	}
	.main__center {
		font-size: 17px;
	}
	.main__center span {

	}
	.main__foto {
		max-width: 100%;
	}
	.main__img {
		margin: 0 0 -5px 0;
		position: relative;
		left: 55px;
	}
}
@media  (max-width:1400px) {
		.main__container {
		position: unset;
		}
}
@media (min-width:768px) and  (max-width:1000px) {
	
	.container {
		width: 800px;
	  }
		.main {
			height: 2300px;
		}
		.main__container {
			display: flex;
			flex-flow: row wrap;
		  position: unset;
	}
	  .main__center span {
	  padding: 80px;
	}
		.main__left {
			width: 30%;
		}
		.main__center {
			width: 35%;
		}
		.main__right {
			width: 100%;
			align-self: center;
		}
	.main__img {
	width: 50%;
	position: relative;
	left: 100px;
}
.footer__text {
	padding: 0 390px 0 0 ;
}
.main__img {
		margin: 0 0 -5px 0;
		position: relative;
		left: 160px;
	}
 }
@media  (max-width:1400px) {
		.main__container {
		position: unset;
		}
}

@media  (max-width:415px) {
	.container {
		width: 350px;
	}
	.main {
		height: 2480px;
	}
	.main__container {
		position: unset;
		display: flex;
		flex-flow: column wrap;
	}
	.main__center span {
	padding: 50px;
	}
	.main__foto {
		max-width: 100%;
	}
	.main__img {
		margin: 0 0 -5px 0;
		position: relative;
		left: 55px;
	}
	.main__center span {
	  padding: 0 0 0 44px;
	}
}
@media  (max-width:280px) {
	.container {
		width: 270px;
	}
  .main__center span {
	  padding: 0 0 0 2px;
		}
    .main {
		height: 2555px;
	}
	.main__img {
		position: relative;
		left: 20px;
	}
}