@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
p {
	word-break: break-all;
}
body {
	
}


/*--------------------*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
	width: 1440px;
	margin: 0 auto;
	
}
.header {
	width: 100%;
	height: 50px;
}

.main {
	height: 900px;
	background-image: url("/img/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main__header {
	text-align: center;
	display: inline;

}
.main__container {
	position: relative;
	top: 150px;
	position: fixed;
	display: flex;

	border: 10px solid #18b;
}
.main__left {
	min-width: 25%;
	border: 10px solid #ece22e;
	align-self: nowrap;
}
.main__center {
	border: 10px solid #898989;
}
.main__right {
	min-width: 30%;
	border: 10px solid #ece89d;
}
.main__img {
	width: 90%;
}
.fotter {
	background-color: #18b;
	height: 50px;
}
