@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
p {
	word-break: break-all;
}
body {
	
}


/*--------------------*/

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
	width: 1440px;
	margin: 0 auto;
	
}
.header {
	width: 100%;
	height: 50px;
	background: #18b;
}
.header__text {
	padding: 5px 0 0 0;
	color: #fff;
	text-align: center;
	font-size: 35px;
}
.main {
	height: 900px;
	min-height: calc(100vh-80px);
	background-image: url("/img/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main__header {
	padding: 20px 0 0 0;
	text-align: center;
	font-size: 28px;
	color: #fff;
	font-weight: 700px;
}
.main__container {
	position: relative;
	top: 150px;
	position: fixed;
	display: flex;

}
.main__left {
	min-width: 25%;
	align-self: nowrap;
}
.main__center {
	margin: 15px 0 0 0;
	font-size: 28px;
	line-height: 50px;
}
.main__center span {
	padding: 220px;
	font-weight: 700;
	color: #ff00ff;
}
.main__right {
	min-width: 30%;

}
.main__img {
	width: 70%;
}
.fotter {
	background-color: #18b;
	height: 50px;
}
.footer__text {
	padding: 15px 0 0 0;
	text-align: center;
	color: #ffff;
}